HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/java/com/wxapp/springboot/service/Asphalt9Service.java
src/main/java/com/wxapp/springboot/controller/Asphalt9Controller.java
src/main/resources/application.properties
uploadAndRestart.sh
*.pfx
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
### Windows ###
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

### macOS ###
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes